.page {
  width: 100%;

  padding: 0 20px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 28px;
}

.header h1 {
  margin: 0;

  font-size: 38px;
}

.header p {
  margin-top: 8px;

  color: #8c8c8c;
}