.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  width: 100%;

  background: transparent;
  border: none;

  text-align: left;

  padding: 10px 12px;

  border-radius: 10px;

  cursor: pointer;

  color: #bdbdbd;

  font-size: 14px;

  transition: 0.15s;
}

.item:hover {
  background: #202020;
  color: white;
}

.active {
  background: #2a2a2a;
  color: white;
  font-weight: 600;
}